@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures that the width and height of an element includes its padding and border */
    font-family: 'Manrope', sans-serif;
}

a{
    text-decoration: none;
    color:rgb(50, 50, 50);
}

i{
    font-size:24px;
}

.header-section {
    display: flex;
    position: fixed; /* Ensures the header stays on screen even when you scroll down */
    align-items: center;
    justify-content: space-between;
    top: 0; 
    width: 100%; 
    z-index: 1000; /* Ensures the header stays above other elements */
    background-color: #ffffff;
    padding: 10px 40px 10px 40px;
    box-shadow: 0px 8px 12px 0px rgba(40, 40, 40, 0.1);
}

.header-section .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-section .logo img{ 
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.header-section .logo a{
    font-weight: 800;
    font-size: 20px;
    color:rgb(50, 50, 50)
}

.header-section .pages{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-section .pages .item {
    display: flex;
    align-items: center;
    cursor: pointer; 
    position: relative;
}

.header-section .pages i{
    color: rgb(50, 50, 50);
    transition: all 0.3s ease;
}

.header-section .pages a{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    color: rgb(50, 50, 50);
    transition: all 0.3s ease;
}

.header-section .pages .item > a:hover > i,
.header-section .pages .item > a:hover > span {
    color: rgb(100, 100, 100);
}/* Only item in header will light up, not the item inside "My account" dropdown list. FIXED! */

.header-section .pages .item#active i,
.header-section .pages .item#active span {
    color: rgb(0, 0, 0);
}

.header-section .dropdown-content {
    position: absolute;
    display: none;
    top: 100%; 
    right: 0;
    background-color: #ffffff; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.header-section .dropdown-content .dropdown-item a{
    display: flex;
    align-items: center;
    padding: 5px 3px 5px 2px;
    transition: background-color 0.3s ease; 
}

.header-section .dropdown-content > .dropdown-item:hover {
    background-color: #f9f9f9; 
}



main {
    margin: 8% 1%;
}

main .container {
    position: absolute;
    top: 10%;
    left: 50%; 
    transform: translate(-50%);
    min-width: 500px;
    min-height: 620px;
    background: #fff;
    text-align: center;
}

main .container h1{
    margin-top: 50px;
}

main .container #form {
    margin: 70px 30px 30px 30px;
}

main .container #form label{
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}

main .container #form input[type=text], 
main .container #form input[type=password] {
    display: block;
    height: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    background: rgb(250, 250, 250, 0.1);
    border-radius: 3px;
    margin-top: 8px;
    padding: 0 10px;
}

main .container #form input-value + * {
    clear: both;
  }

main .container #form .social {
    display: flex;
    margin-top: 20px;
}

main .container #form .social > div {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 33.3%;
    height: 45px;
    border: 2px solid rgba(50, 50, 50, 0.1);
    border-radius: 4px;
    margin: 10px;
}

main .container #form .social > div:first-child {
    margin-left: 0;
}

main .container #form .social > div:last-child {
    margin-right: 0;
}

main .container #form .social .facebook:hover,
main .container #form .social .google:hover,
main .container #form .social .apple:hover {
    cursor: pointer;
    background-color: rgb(247, 247, 247);
}

main .container #form .checkbox {
    position: relative;
    display: flex; 
    margin: 10px;
}

main .container #form .checkbox label {
    margin: 0 10px;
}

main .container .checkbox-color {
    filter: hue-rotate(145deg);
}
  
main .container #form input[type=checkbox] {
    width: 24px; 
    height: 24px;
}

main .container #form input[type=checkbox]:hover {
    cursor: pointer;
}

main .container #form .button {
    position: relative;
    margin-top: 50px;
}

main .container #form .button .btn {
    width: 80px;
    height: 80px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    color: #ffffff;
    background: rgb(140, 180, 40, 0.8);
}

main .container #form .button .btn:hover {
    background: rgba(140, 180, 40);
    border: 1px solid  rgb(255, 255, 255); 
    transition: border 0.3s ease;
    cursor: pointer;
}

main .container #form .form-links {
    position: relative;
    margin: 20px;
}

main .container #form .form-links a:hover {
    color: #000;
}



main .welcome-section {
    position: relative;
    justify-content: center; 
    align-items: center;
    height: 500px;
}

main .welcome-section img {
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    height: 100%;
    width: auto;
    object-fit: cover;
}

main .welcome-section .welcome-content {
    text-align: center;
    position: relative;
}

main .welcome-section .welcome-content h1{
    color: rgb(255, 243, 234); 
    padding-top: 40px;
}

main .welcome-section .welcome-content p{
    color: rgb(255, 243, 234); 
    padding-top: 10px;
}

main .welcome-section .welcome-content .explore-button {
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255); 
    border: 1px solid  rgb(255, 255, 255); 
    transition: border 0.3s ease;
    margin-top: 20px;
}

main .welcome-section .welcome-content .explore-button:hover {
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}



main .container-section {
    justify-content: space-between;
    padding: 10px; 
}

main .container-section h1 {
    border-bottom: 4px solid rgb(50, 50, 50);
}

main .container-section h3 {
    margin-top: 40px;
}

main .container-section p {
    font-size: 18px; 
    margin: 5px 0 5px 0;
}



main .underlinedTitle {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .underlinedTitle h2 {
    border-bottom: 4px solid rgb(140, 180, 40);
}

main .underlinedTitle h2:hover {
    color: rgb(0, 0, 0);
}

main .underlinedTitle p {
    padding-top: 10px; 
    font-size: 18px; 
}



main .slideshow-container {
    max-width: calc(2 * 400px + 20px); 
    max-height: 400px;
    position: relative;
    margin: auto;
} 

main .slideshow-container .drinkSlides img {
    min-width: 40%;
    max-height: 400px;
    border-radius: 18px 0 0 18px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
} 

main .slideshow-container .drinkSlides .drink-details {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    min-width: 60%;
    min-height: 400px;
    background-color: #ffffff;
    border-radius: 0 18px 18px 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
} 

main .slideshow-container .drinkSlides .drink-details h3 {
    margin: 40px 40px 10px 40px;
}

main .slideshow-container .drinkSlides .drink-details p {
    margin: 10px 40px 40px 40px;
}

main .slideshow-container .prev, 
main .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  padding: 16px;
  color: rgb(50, 50, 50);
  font-weight: bold;
  transition: 0.6s ease;
}

main .slideshow-container .next {
  right: 0;
}

main .prev:hover, 
main .next:hover {
    color: rgb(100, 100, 100);
}

main .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(200, 200, 200);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

main .active, 
main .dot:hover {
    background-color: rgb(100, 100, 100);
}

main .slideshow-container .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}



.recipe-container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 10px;
}

.recipe-container h3 {
    margin-top: 0;
}

.recipe-container p {
    min-height: 100px;
    width: 235px;
}

.recipe-container img {
    object-fit: cover;
    height: 260px;
    width: 100%;
}

.recipe-left {
    position: relative;
    min-height: 460px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
}

.recipe-left .bx-heart,
.recipe-left .bxs-heart {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.recipe-right {
    position: relative;
    min-height: 460px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
}

.recipe-right .bx-download {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}



.savedRecipe-container {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}

.savedRecipe-container h3 {
    margin-top: 0;
}

.savedRecipe-container p {
    min-height: 90px;
}

.savedRecipe-container img {
    object-fit: cover;
    height: 240px;
    width: 100%;
}

.savedRecipe-left {
    flex: 0 0 23%;
    position: relative;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.1);
}

.savedRecipe-right {
    flex: 0 0 46%;
    position: relative;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.1);
}

.savedRecipe-right .bx-heart,
.savedRecipe-right .bxs-heart {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.savedRecipe-right .bx-download {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

#cookiePopup {
    background-color: #ffffff;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    font-size: 14px;
    width: 35vw;
    max-width: 42.85em;
    box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
    font-family: "Poppins", sans-serif;
    text-align: justify;
    line-height: 1.8em;
    padding: 0.5em 1.4em;
    border-radius: 6px;
    transition: opacity 0.5s ease-in, bottom 0.5s ease-in;
}

#cookiePopup button:hover {
    transform: scale(1.1); 
}

#cookiePopup i {
    display: flex;
    width: 4em;
    justify-content: center;
    align-items: center;
    transform: translateZ(0);
    position: relative;
    margin: auto;
    font-size: 2em;
}

#cookiePopup p {
    text-align: center;
    margin: 1.4em 0;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#cookiePopup button {
    background-color: #ca7c4c;
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    padding: 1em 1.4em;
    display: block;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

#cookiePopup a {
    color: #6859ef;
}

.hide {
    display: none;
}

.show {
    display: block;
}


#introduction-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 20px 40px;
    background-color: #F2EBDE;
}

#introduction-section h2 {
    margin-top: 0px;
    text-decoration: underline #8C1E1D;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    font-size: 30px;
}

#introduction-section p {
    font-size: 20px;
    margin-top: 30px;
    line-height: 1.5;
}

#mixer-image {
    max-width: 300px;
    height: 350;
    margin: 15px 150px 0 200px;
}

.mixer-content {
    max-width: 60%;
    margin-right: 10px;
    text-align: center;
}

#categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(50, 50, 50);
    background-color: #F2EBDE;
    padding: 20px;
    position: relative;
    isolation: isolate;
}

#categories-container h4 {
    font-size: 17px;
    margin: 20px 0 10px;
    font-style: italic;
}

#categories-container .ingredient-button {
    background-color: #ffffff;
    color: black;
    padding: 8px 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 8px;
}

#mixer-buttons.ingredient-button {
    background-color: transparent;
    border: none;
}

#garnish-buttons.ingredient-button {
    background-color: transparent;
    border: none;
}

#alcohol-buttons.ingredient-button {
    background-color: transparent;
    border: none;
}

#categories-container .ingredient-button.selected {
    background-color: #DD8020;
    color: #ffffff;
    transition: 1s ease-out, color 0.3s ease-out;
}

#button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

#mix-button {
    font-size: 16px;
    background-color: #DD8020;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 10px;
}

#reset-button {
    font-size: 16px;
    background-color: #DD8020;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
}

@keyframes shake {
    0% {transform: translateX(0);}
    20% {transform: translateX(-10px) rotate(-10deg);}
    40% {transform: translateX(10px) rotate(10deg);}
    60% {transform: translateX(-10px) rotate(-10deg);}
    80% {transform: translateX(10px) rotate(10deg);}
    100% {transform: translateX(0);}
}

#mix-button.shake {
    animation: shake 0.5s ease-in-out;
}

.show-more-button {
    font-size: 16px;
    background-color: #DD8020;
    color: white;
    padding: 8px 16px;
    margin: 20px 4px;
    cursor: pointer;
    border-radius: 8px;
    float: right;
}

.matchingCocktailsHeading {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline #8C1E1D;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}


.footer-section {
    margin-top: 10px;  
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 40px;
    box-shadow: 0px -8px 12px 0px rgba(40, 40, 40, 0.1);
}

.footer-section .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section .footer-links {
    margin-bottom: 10px;
}

.footer-section .footer-links a {
    margin-right: 20px;
    font-size: 16px;
    color: rgb(50, 50, 50);
    transition: all 0.3s ease;
}

.footer-section .footer-links a:hover {
    color: rgb(100, 100, 100);
}

.footer-section p {
    font-size: 14px;
    color: rgb(100, 100, 100);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: #fefefe; 
    margin: auto; 
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1001; 
}


.modal-content h2 {
    font-size: 24px;
    margin-bottom: 10px; 
    text-align: center;
    color:rgb(50, 50, 50); 
}

.modal-content p {
    margin-top: 10px; 
    text-align: center; 
    color:rgb(50, 50, 50);
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#contactForm {
    margin-top: 20px;
}

label {
    margin-bottom: 8px;
    display: block;
    font-weight: bold;
}

input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical; 
}

button[type="submit"] {
    background-color: #DD8020;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button[type="submit"]:hover {
   background-color: darkblue;
}

.container-section p {
    color:rgb(50, 50, 50);
}





@media screen and (min-width: 1440px) {

    main {
        margin: 4.5%;
    }
    
    .recipe-container {
        width: 20%;
    }

    .recipe-container p {
        width: 250px;
    }

    .recipe-container img {
        object-fit: cover;
        height: 300px;
        width: 100%;
    }

    .savedRecipe-container p {
        min-height: 70px;
    }

    .savedRecipe-container img {
        height: 400px;
    }
    
}



@media screen and (max-width: 1280px) {
    
    .header-section{
        margin: 0;
        padding: 5px 0 5px 0;
    }
    
    main .slideshow-container {
        max-width: calc(2 * 350px + 20px);
        max-height: 350px;
        max-height: 350px;
        position: relative;
        justify-content: center; 
        align-items: center;
        padding: 5px;
    }

    main .slideshow-container .prev,
    main .slideshow-container .next {
        font-size: 14px; 
    }

    main .slideshow-container .drinkSlides img {
        min-width: 40%;
        max-width: 40%;
        min-height: 350px;
        max-height: 350px;
    }

    main .slideshow-container .drinkSlides .drink-details {
        min-width: 60%;
        max-width: 60%;
        min-height: 350px;
        max-height: 350px;
    }

} 



@media screen and (max-width: 1080px) {

    .recipe-container {
        width: 33%;
    }

    .recipe-container p {
        min-height: 90px;
        width: 210px;
    }

    .savedRecipe-left {
        flex: 0 0 30%;
    }

    .savedRecipe-right {
        flex: 0 0 60%;
    }

    #introduction-section {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .mixer-content {
        max-width: 90%;
        text-align: center;
        margin-bottom: 20px;
    }

    #mixer-image {
        max-width: 250px;
        margin: 0 0;
    }

    #introduction-section h2 {
        font-size: 22px;
    }

    #introduction-section p {
        font-size: 14px;
        margin-top: 15px;
        line-height: 1.7;
    }

    #categories-container {
        margin-top: -30px;
    }

    #categories-container h4 {
        margin: 15px 0 0;
        font-size: 14px;
    }
    
}



@media screen and (max-width: 768px) {

    .header-section .logo .nav-link {
        display: none;
    }

    .header-section .item > a > span {
        display: none;
    } /* Hide the span within anchor tags inside elements with the class 'item', aka. home, drinks etc. */

    .header-section .dropdown-content a > span {
        display: inline;
    } /* Show the span within anchor tags inside dropdown items, aka. edit profile, privacy policy and logout */
    

    main .welcome-section {
        position: relative;
        justify-content: center; 
        align-items: center;
        height: 300px;
    }
    
    main .welcome-section img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }   

    main .welcome-section .welcome-content h1,
    main .welcome-section .welcome-content p{
        color: rgb(255, 255, 255); 
    }

    main .welcome-section .welcome-content .explore-button {
        background-color: rgba(255, 255, 255, 0.3);
        color: rgb(255, 255, 255); 
        border: 1px solid  rgb(255, 255, 255); 
    }

    main .slideshow-container {
        max-width: calc(2 * 350px + 20px);
        max-height: 350px;
        max-height: 350px;
        margin: 0 auto;
    }

    main .slideshow-container .prev,
    main .slideshow-container .next {
        font-size: 14px; 
    }

    main .slideshow-container .drinkSlides img {
        min-width: 50%;
        max-width: 50%;
        min-height: 350px;
        max-height: 350px;
    }

    main .slideshow-container .drinkSlides .drink-details {
        min-width: 50%;
        max-width: 50%;
        min-height: 350px;
        max-height: 350px;
    }

    main .dot{
        height: 12px;
        width: 12px;
    }

    .recipe-container {
        width: 50%;
    }

    .recipe-container p {
        width: auto;
    }

    .savedRecipe-container p {
        display:none;
    }

    .savedRecipe-left {
        flex: 0 0 30%;
        padding: 15px;
    }

    .savedRecipe-right {
        flex: 0 0 70%;
        padding: 15px;
    }
    
    .savedRecipe-right .bx-heart,
    .savedRecipe-right .bxs-heart {
        top: 15px;
        right: 15px;
    }

    .savedRecipe-right .bx-download {
        bottom: 15px;
        right: 15px;
    }

    #cookiePopup button {
        font-size: 0.8em; 
        padding: 0.8em 1.2em; 
    }
} 



@media screen and (max-width: 480px) {

    main {
        margin: 15% 0;
    }

    main .slideshow-container {
        max-width: calc(2 * 350px + 20px);
        max-height: 350px;
        max-height: 350px;
    }

    main .slideshow-container .prev,
    main .slideshow-container .next {
        font-size: 14px; 
    }

    main .slideshow-container .drinkSlides img {
        min-width: 70%;
        max-width: 70%;
        min-height: 350px;
        max-height: 350px;
    }

    main .slideshow-container .drinkSlides .drink-details {
        min-width: 30%;
        max-width: 30%;
        min-height: 350px;
        max-height: 350px;
    }

    main .slideshow-container .drinkSlides .drink-details h3 {
        font-size: 20px;
        margin: 20px;
    }

    main .slideshow-container .drinkSlides .drink-details p {
        display: none;
    }

    main .dot{
        height: 10px;
        width: 10px;
    }

    .recipe-container {
        width: 100%;
    }

    .recipe-container p {
        min-height: 70px;
        width: 280px;
    }

    .savedRecipe-container h3 {
        margin-top: 10px;
    }

    .savedRecipe-container img {
        display: none;
    }

    .savedRecipe-left {
        flex: 0 0 25%;
        padding: 10px;
    }

    .savedRecipe-right {
        flex: 0 0 75%;
        padding: 10px;
    }

    .savedRecipe-right .bx-heart,
    .savedRecipe-right .bxs-heart {
        top: 10px;
        right: 10px;
    }

    .savedRecipe-right .bx-download {
        bottom: 10px;
        right: 10px;
    }
} 